@{
    ViewBag.Title = "Home Page";
}

@{
    if (Project1.Static.Strike.strike)
    {
        <link rel="stylesheet" href="~/Content/css/Home/indexStrike.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/Home/index.css">
    }
}



<!--<div style="display:none;">
    <ul id="test" class="menu">
        <li id="work">Производство</li>
        <li id="mani">Деньги</li>
        <li id="help">Помощь</li>
    </ul>
</div>-->
<div class="conteiner">
    <div id="menu">
        <div style="display:block;">
            <fieldset style="margin-top:0px">
                <legend align="left" style="width:35%;">Производство</legend>
                    <ul class="hr" id="workShow">
                        <li><a href='@Url.Action("Index", "Bazaar")'><img src="~/img/signboard_bazaar.png" runat="server" alt="Базар" id="bazaar_img" /></a></li>
                        <li><a href='@Url.Action("Index", "Sklad")'><img src="~/img/sklad.png" runat="server" alt="Склад" id="sklad_img" /></a></li>
                        <li><a href='@Url.Action("AllZakaz", "Zakaz")'><img src="~/img/order.png" runat="server" alt="Заказы" id="order_img" /></a></li>
                    </ul>
            </fieldset>
        </div>
        <div style="display:block;">
            <fieldset>
                <legend align="left">Деньги</legend>
                <ul class="hr" id="maniShow">
                    <li><a href='@Url.Action("Index", "Money")'><img src="~/img/bank3.png" runat="server" alt="Банк" id="bank_img" /></a></li>
                    <li><a href='@Url.Action("Index", "Workers")'><img src="~/img/works.png" runat="server" alt="Рабочие" id="works_img" /></a></li>
                    <li><a href='@Url.Action("Index", "Utilites")'><img src="~/img/utilities.png" runat="server" alt="Камунальные" id="utilities_img" /></a></li>
                    <li><a href='@Url.Action("Index", "Payments")'><img src="~/img/dollar.jpg" runat="server" alt="Платежи" id="payments_img" /></a></li>
                </ul>
            </fieldset>
        </div>
        <div style="display:block;">
            <fieldset>
                <legend align="left">Помощь</legend>
                <ul class="hr" id="helpShow">
                    <li><a href='@Url.Action("Regulations", "Home")'><img src="~/img/regulations.png" runat="server" alt="Правила" id="regulations_img" /></a></li>

                </ul>
            </fieldset>
        </div>
    </div>
    <div id="second">
        <div class="NewDay">
            <ul class="hr">
                <li><a href='@Url.Action("Index", "NewDay")'><img src="~/img/NewDay.png" runat="server" alt="Новый День" id="newDay_img" /></a></li>
            </ul>
        </div>
        <div class="mani">
            <img src="~/img/bank.png" runat="server" alt="Деньги" id="mani_img" style="margin-right:5%;">
            <h1>Денег :@ViewBag.mani</h1>
        </div>
    </div>
</div>
<div class="strike">
    <!--@Html.Partial("StrikePartial")-->
    <p>Забастовка продлится еще @ViewBag.DayOfStrike</p>
    <p>Чего хотят люди? Конечно-же повышения зарплаты!</p>
    <p>Вы можете либо ждать конча забастовки, либо поднять рабочим зарплату.</p>
</div>

<script src="~/Content/js/Home/index.js"></script>


