@model IEnumerable<Project1.Models.Zakaz>
<!--@using Project1.Models;-->

@{
    ViewBag.Title = "Заказы";
}
<link rel="stylesheet" href="~/Content/css/Zakaz/index.css">
<label>Назад</label><br>
<a href='@Url.Action("Back","Bazaar")'>
    <img src="~/img/arrow.png" runat="server" alt="" id="arrow_img" />
</a>
<h1>Заказы</h1>
<form>
    <table class="table">
        <tr>
            <th>
                №
            </th>
            <th>
                Что собрать
            </th>
            <th>
                Количество
            </th>
            <th>
                Сколько заплатят
            </th>
            <th></th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(count+1)
                    </td>
                    <td title="Кузов:@ViewBag.titl[count]">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.col)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.money)
                    </td>
                    <td>
                        @Html.ActionLink("Выполнить", "Create", item, null) |
                        @Html.ActionLink("Удалить", "Delet", item, null)
                    </td>
                </tr>
                count++;
            }
        }
    </table>
</form>
