@model IEnumerable<Project1.Models.Worker>


<link rel="stylesheet" href="~/Content/css/Workers/index.css">

<form method="post" action="/Workers/Сhange">
    <div>
        <label>Назад</label><br>
        <a href='@Url.Action("Back","Bazaar")'>
            <img src="~/img/arrow.png" runat="server" alt="" id="arrow_img" />
        </a>
        <h1>Рабочие</h1>
        <div>
            <h2>
                В цехе работают @ViewBag.worker человек<br>
                с общей зарплатой  @ViewBag.zp
            </h2>
        </div>
        <div id="button">
            <div id="buttonAdd">
                <label>Нанять рабочего<input style="margin-left:10px;" type="submit" name="change" value="add" id="addWorkers"></label>

            </div>
            <div id="buttonMin">
                <label>
                    Уволить<input style="margin-left:10px;" type="submit" name="change"
                                  value="min" id="minWorkers" @((@ViewBag.worker <= 0) ? "disabled" : "")>
                </label>

            </div>
        </div>
    </div>
</form>
